.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.googleFetchHelperText {
  align-self: flex-start;
}

.noCalendarDataMsg {
  font-weight: 700;
  font-size: 1.05rem;
}
