/*
  ========================================
  Containers
  ========================================
*/

.window {
  display: flex;
  flex-flow: column;
  background: #f4e3f5;
}

.container {
  display: flex;
  flex-flow: column;
  align-self: center;
  min-height: 45vh;
  width: 100vh;
}

.photo {
  align-self: center;
  height: 175px;
  border-radius: 5px;
}

.info {
  align-self: center;
  width: 100%;
  padding-bottom: 30px;
  margin-right: 30px;
}

/*
  ========================================
  Date
  ========================================
*/

.date_box {
  display: flex;
  flex-flow: column;
  text-align: center;
  position: absolute;
  height: auto;
  width: 4%;
  margin-left: 3%;
}

.date_banner {
  background-color: #98609c;
  position: relative;
  height: 10px;
  border-radius: 5px 5px 0 0;
}

.date {
  color: black;
  background-color: white;
  font-size: 2.5vw;
  padding: 5px;
  border-radius: 0 0 5px 5px;
  opacity: .88;
}

/*
  ========================================
  Event Header
  ========================================
*/

.header {
  background-color: white;
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 30px 30px 30px 30px;
  opacity: .80;
}

.subtitle {
  display: flex;
  flex-flow: row;
  font-size: 20px;
}

.invite_title {
  display: flex;
  align-self: center;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}

.status {
  background-color: rgb(155, 155, 155);
  border-radius: 5px;
  font-size: 13px;
  padding: 5px;
  margin-right: 5px;
  color: white;
  opacity: .80;
}

/*
  ========================================
  Event Details
  ========================================
*/

.body {
  display: flex;
  justify-content: center;
  margin-top: 35px;
}

.details {
  display: flex;
  flex-flow: column;
  height: 50%;
  width: 100%;
}

.description {
  padding: 30px;
  background-color: white;
  opacity: .80;
  border-radius: 5px;
}

/*
  ========================================
  Event Form
  ========================================
*/

.form {
  font-size: 18px;
  padding: 15px;
  background-color: white;
  opacity: .80;
  border-radius: 5px;
  width: 30%;
  height: 50%;
}

.input {
  width: 100%;
  padding: 5px;
  border-radius: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
}

/*
  ========================================
  Modal
  ========================================
*/

.modal {
  background-color: white;
}